header{
    background-color:rgb(11, 108, 141);
    border: rgb(114, 3, 3);
    width:100%;
    height: 100px;
  
}
 #img2 {
    float:upright; 
    border-radius: 50%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  li  a {
      color: lavender;
    padding: 8px 16px;
    background-color: rgb(28, 6, 105);
    border-style: solid;
  }
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(145, 61, 61);
    color: white;
  }

  h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color:rgb(3, 10, 97);
    -webkit-text-stroke-color: black;
  }
  body {
    background: lightblue  no-repeat fixed center;
  }
  button{
      color: mediumblue;
      bottom: 100%;
  }
  .footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(66, 43, 43);
  color: white;
  text-align: center;
  }